<!-- templates/admin.html -->
<!DOCTYPE html>
<html>
<head>
<title>Admin Panel</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="page">

<div class="card large">
    <h2>📊 Admin Dashboard</h2>

    <table>
        <tr>
            <th>Matric Number</th>
            <th>Name</th>
            <th>Level</th>
        </tr>

        {% for matric, data in users.items() %}
        <tr>
            <td>{{ matric }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.level }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/admin-logout" class="btn">Logout</a>
</div>

</body>
</html>