{% extends "base.html" %}

{% block content %}

<div class="card">
    <h2>Admin Dashboard</h2>

    <form method="POST" action="/add_student">
        <input name="matric" placeholder="Matric Number">
        <input name="name" placeholder="Full Name">
        <input name="level" placeholder="Level">
        <button>Add Student</button>
    </form>
</div>

<div class="card">
    <h3>Students</h3>

    {% for s in students %}
        <p>{{ s[0] }} | {{ s[1] }} | {{ s[2] }}</p>
    {% endfor %}
</div>

{% endblock %}