<!DOCTYPE html>
<html>
<head>
    <title>CSE 25/26 Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header class="navbar">
    <div class="logo">
        🏛️ CSE 25/26 Portal
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/admin">Admin</a>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    © 2026 Department of Computer Science Education | DELSU Style Portal
</footer>

</body>
</html>