{% extends "base.html" %}

{% block content %}

<div class="dashboard">

    <h2>Welcome, {{ student.matric }}</h2>

    <div class="card-grid">

        <div class="card">📢 Department Notices</div>
        <div class="card">📚 Course Materials</div>
        <div class="card">🧑‍🏫 Staff Directory</div>
        <div class="card">📅 Academic Calendar</div>
        <div class="card">📁 Download Forms</div>
        <div class="card">💬 Support / Contact</div>

    </div>

    <a class="logout" href="/logout">Logout</a>

</div>

{% endblock %}