<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="bg">
<div class="overlay"></div>

<div class="center-box" style="text-align:center;">

<img src="/static/logo.png" class="logo">

<h2>COMPUTER SCIENCE EDUCATION 25/26</h2>

<p>
Welcome to the Department of Computer Science Education Portal.
Access announcements, student services, academic resources, and departmental updates.
</p>

</div>
</div>

</body>
</html>