<!DOCTYPE html>
<html>
<head>
<title>DELSU Portal Login</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="bg">
<div class="overlay"></div>

<div class="center-box">

<h2>COMPUTER SCIENCE EDUCATION 25/26</h2>
<p>Student Login</p>

<form action="/login" method="POST">
<input name="matric" placeholder="Enter Matric Number" required>
<button type="submit">Login</button>
</form>

<br>
<a href="/admin">Admin Login</a>

</div>
</div>

</body>
</html>